@import "../../../styles/partials/variables.scss";
@tailwind components;

@layer components {
    .login {
        @apply absolute inset-0 grid h-full w-full place-items-center;
    }
    .wrapper {
        @apply rounded-[5px] bg-white;
    }
    .title {
        @apply text-center text-3xl font-bold;
    }
}

.wrapper {
    max-width: 700px;
    width: 100%;
    position: relative;
    z-index: 2;
    padding: 30px 112px 35px;
}
