// Absolute Colors
$white: #ffffff;
$black: #000000;
$black-alt: #121212;
// Red Shades
$red: #8d090d;
$header-gradient: linear-gradient(180deg, rgb(0 0 0 / 50%) 12%, rgb(0 0 0 / 0%) 100%);
$text-color: #434343;
$card-gradient: linear-gradient(180deg, rgba(29, 29, 29, 0) 15.78%, rgba(29, 29, 29, 0.78) 100%);
$error-color: #ff3232;
// Gray Shades

$white-95: #f1f1f1;
$gray-dark: #6e6e6e;
$gray-medium: #787878;
$gray-light: #a4a4a4;
$gray-light2: #4A4A4A;
$white-transparent: #ffffff26;
$gray-normal: #777777;
$gray-lighter: #eeeeee;
$gray-darkest: #323231;
$gray-lightest: #c7c7c7;
$gray-lightest-alt: #c4c4c4;
$gray-lighter-alt: #d0d0d0;
$green: #2ba637;
$gray-lightest-alt2: #cfcfcf;
$primary: #ab0a10;
$red: #8d090d;
$gray-lightest-alt3: #cacaca;
$gray-lightest-alt4: #c9c9c9;
$gray-darker: #4c4c4c;
$gray-darker-alt: #848484;
$gray-darker-alt2: #383838;
$gray-darker-alt3: #2b2b2b;
$gray-darker-alt4: #393939;
$green-alt: #008f17;
$gray-lightest-alt5: #bfbfbf;
$gray-lightest-alt6: #cbcbcb;
$gray-normal-alt: #7d7d7d;
$gray-normal-alt2: #5d5d5d;
$gray-darkest-alt: #6a6a6a;
$gray-darkest-alt2: #525252;
$gray-lighter-alt5: #d8d8d8;
