@import "../../styles/partials/variables.scss";
@import "../../styles/partials/mixin.scss";

.image {
    // Box model
    width: 100%;
    max-width: 420px;
    padding-top: 30px;

    // Media queries
    @media (min-width: 768px) {
        padding-top: 0;
        max-width: none;
    }
    @media (min-width: 992px) {
        width: 50%;
    }
}

.content {
    // Box model
    width: 100%;
    max-width: 420px;
    padding-bottom: 30px;

    // Media queries
    @media (min-width: 768px) {
        padding-bottom: 0;
        max-width: none;
    }
    @media (min-width: 992px) {
        max-width: 400px;
        width: 100%;
    }
}

.date {
    // Box model
    display: block;
    margin-top: 10px;
}

.title {
    // Typography
    font-size: 25px;
    line-height: 24px;
    font-weight: 500;

    .date {
        // Typography
        font-weight: 300;
        line-height: 1.5;
        font-size: 11px;
        letter-spacing: 0.1px;
    }
}

.description {
    // Positioning
    position: relative;

    // Typography
    color: $gray-normal-alt2;
    font-weight: 500;
    line-height: 1.5;

    // Box model
    margin-top: 30px;

    p {
        // Typography
        font-size: 14px;
    }

    svg {
        // Positioning
        @include Position($pos: absolute, $bottom: 0, $right: 0);

        // Interaction
        cursor: pointer;
    }
}
