@import "../../styles/partials/variables.scss";
@import "../../styles/partials/mixin.scss";
@tailwind components;

@layer components {
    .bottom-side {
        @apply border-t border-t-[#414141] border-solid py-5 font-light text-[14px] text-[#676767];
    }
    .top-side {
        @apply grid grid-cols-2 gap-y-3 md:grid-cols-4  mb-[46.5px] px-3 ;
    }
}

.links-title {
    font-weight: 500;
    margin-bottom: 34px;
}

.link {
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.1px;
}
