@import "../../styles/partials/variables.scss";
@import "../../styles/partials/mixin.scss";
@tailwind components;

@layer components {
    .bottom-side {
        // Box model
        @apply border-t border-t-[#414141] border-solid py-5;
        
        // Typography
        @apply font-light text-[14px] text-[#676767];
    }

    .top-side {
        // Box model
        @apply grid grid-cols-2 gap-y-3 md:grid-cols-4 mb-[46.5px] px-3;
    }
}

.links-title {
    // Typography
    font-weight: 500;

    // Box model
    margin-bottom: 34px;
}

.link {
    // Typography
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.1px;
}
